
        88 => array('class' => 'core:AttributeMap',
             'oid2name',
        ),
        90 => array(
            'class' => 'consent:Consent',
            'store' => 'consent:Cookie',
            'focus' => 'yes',
            'checked' => TRUE,
	    'useRegistrationAuthority' => TRUE,
	    'useLogo' => FALSE,
        ),
        91 => array('class' => 'core:AttributeMap',
              'name2oid',
        ),
